
    <section id="service" class="services-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title pb-20">
                            <h5 class="mb-15" style="font-size: 2em !important;">Our Story</h5>
                            </div> <!-- section title -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="services-left mt-0">
                            <div class="services">
                                <img src="images/about/about.jpg" alt="">
                            </div> <!-- services btn -->
                        </div> <!-- services left -->
                    </div>
                    <div class="col-lg-6">
                        
                    <p style="text-align: justify;">Information Technology department has established “Coding Club” in SVIT, VASAD for the students of all department under the ages of R & D Cell. Nearly 233 students have registered for this club from all the departments. <br><br>Appropriate planning has been done for enhancing the coding skills of the students and following activities has been decided: Coding tests, Quiz, Workshops, Meet ups with the IT professionals, etc.</p>
                        
                                </div>
                            </div> <!-- row -->
                        </div> <!-- services right -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>