
    <!--======  BLOG PART START ======-->
    
    <section id="blog" class="blog-area pt-60">
            <div class="container">
                <div class="row">
                        <div class="col-lg-6">
                                <div class="section-title pb-0">
                                    <h5 class="mb-15" style="font-size: 2em !important;">Blog</h5>
                                    </div> <!-- section title -->
                            </div>
                            <div class="centerpara" style="padding: 0 15px;">
                                    <p>Programming is not a zero-sum game. Teaching something to a fellow programmer doesn't take it away from you. I'm happy to share what I can, because I'm in it for the love of programming.<br> -John Carmack</p>
                            </div>
                </div> <!-- row -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog mt-30">
                            <div class="blog-image">
                                <img src="/images/blog/b-1.jpg" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <div class="content">
                                    <h4 class="title"><a href="#">How to solve problems in competative exams?</a></h4>
                                    <span>25 JULY, 2019</span>
                                </div>
                                <div class="meta d-flex justify-content-between align-items-center">
                                    <div class="meta-admin d-flex align-items-center">
                                        <div class="image">
                                            <a href="#"><img src="/images/blog/shlok.jpg" alt="Admin"></a>
                                        </div>
                                        <div class="admin-title">
                                            <h6 class="title"><a href="#">Shlok Gadre</a></h6>
                                        </div>
                                    </div>  <!-- meta admin -->
                                    <div class="meta-icon">
                                        <ul>
                                            <li><a href="#"><i class="lni-heart"></i></a></li>
                                        </ul>
                                    </div> <!-- meta icon -->
                                </div> <!-- meta -->
                            </div>
                        </div> <!-- single blog -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog mt-30">
                            <div class="blog-image">
                                <img src="/images/blog/b-2.jpg" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <div class="content">
                                    <h4 class="title"><a href="#">How to start coding? Which language to choose?</a></h4>
                                    <span>19 SEP, 2019</span>
                                </div>
                                <div class="meta d-flex justify-content-between align-items-center">
                                    <div class="meta-admin d-flex align-items-center">
                                        <div class="image">
                                            <a href="#"><img src="/images/blog/shailendra.jpg" alt="Admin"></a>
                                        </div>
                                        <div class="admin-title">
                                            <h6 class="title"><a href="#">Shailendra Raj</a></h6>
                                        </div>
                                    </div>  <!-- meta admin -->
                                    <div class="meta-icon">
                                        <ul>
                                            <li><a href="#"><i class="lni-heart"></i></a></li>
                                        </ul>
                                    </div> <!-- meta icon -->
                                </div> <!-- meta -->
                            </div>
                        </div> <!-- single blog -->
                    </div>
                    
                </div> <!-- row -->
                <div class="newpaddingbtn" style="text-align: center; padding-top: 17px;">
                        <a class="main-btn" href="/blog" data-animation="fadeInUp" data-delay="1.5s">Explore More <i class="lni-chevron-right"></i></a>
                </div>
            </div> <!-- container -->
        </section>
        
        <!--======  BLOG PART ENDS ======-->