    <!--====== jquery js ======-->
    <script src="/javascripts/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/javascripts/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/javascripts/bootstrap.min.js"></script>
    
    
    <!--====== Slick js ======-->
    <script src="/javascripts/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>

    
    <!--====== nav js ======-->
    <script src="/javascripts/jquery.nav.js"></script>
    
    <!--====== Nice Number js ======-->
    <script src="/javascripts/jquery.nice-number.min.js"></script>
    
    <!--====== Main js ======-->
    <script src="/javascripts/main.js"></script>

</body>
</html>
