<section id="product" class="product-area pt-40 pb-20">
    <div class="container">
        <div class="row" >
                <div class="col-lg-6">
                        <div class="section-title pb-0">
                            <h5 class="mb-15" style="font-size: 2em !important;">Events/ Workshops</h5>
                            </div> <!-- section title -->
                    </div>
                    <div class="centerpara" style="padding: 0 15px;">
                            <p>• we believe that anyone, any major, from any background can learn how to code.</p>
                            <p>• Here are some Events and Workshops.</p>
                            <p>• (Slide to view all cards or click below.)</p>
                    </div>

                <div class="col-lg-11 col-md-10 col-sm-12">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-furniture" role="tabpanel" aria-labelledby="v-pills-furniture-tab">
                            <div class="product-items mt-30">
                                
                                <div class="row product-items-active">
                                   
                                    <div class="col-md-4">
                                        <div class="single-product-items">
                                            <div class="product-item-image">
                                                <a href="#"><img src="/images/events/e-6.jpg" alt="Product"></a>
                                            </div>
                                            <div class="product-item-content text-center mt-30">
                                                <h5 class="product-title pb-10"><a href="#">Workshop on C++</a></h5>
                                                <p style="text-align: justify;">Workshop will be held on 29th, 30th & 31st DEC 2019.
                                                Registration fees: 150Rs; 50Rs Refundable.<br>For query contact Kunj: +91998272716.
                                                </p>
                                            </div>
                                        </div> <!-- single product items -->
                                    </div>
                                    
                                    <div class="col-md-4">
                                            <div class="single-product-items">
                                                <div class="product-item-image">
                                                    <a href="#"><img src="/images/events/e-5.jpg" alt="Product"></a>
                                                </div>
                                                <div class="product-item-content text-center mt-30">
                                                    <h5 class="product-title pb-10"><a href="#">Workshop on Web Development</a></h5>
                                                    <p style="text-align: justify;">Workshop will be held on 24th, 26th, 27th & 28th DEC 2019.
                                                    Registration fees: 150Rs; 50Rs Refundable.<br>For query contact Kunj: +91998272716.
                                                    </p>
                                                </div>
                                            </div> <!-- single product items -->
                                        </div>

                                        <div class="col-md-4">
                                                <div class="single-product-items">
                                                    <div class="product-item-image">
                                                        <a href="#"><img src="/images/events/e-4.jpg" alt="Product"></a>
                                                    </div>
                                                    <div class="product-item-content text-center mt-30">
                                                        <h5 class="product-title pb-10"><a href="#">Cyclone 2.0</a></h5>
                                                        <p style="text-align: justify;">Hackathon Was organized on xyz date.
                                                        Registration fees: 30Rs; Around 80 Students took part.
                                                        </p>
                                                    </div>
                                                </div> <!-- single product items -->
                                            </div>

                                            <div class="col-md-4">
                                                    <div class="single-product-items">
                                                        <div class="product-item-image">
                                                            <a href="#"><img src="/images/events/e-3.jpg" alt="Product"></a>
                                                        </div>
                                                        <div class="product-item-content text-center mt-30">
                                                            <h5 class="product-title pb-10"><a href="#">Workshop on C</a></h5>
                                                            <p style="text-align: justify;">
                                                                Workshop Was held on Xyz date, almost 120 students attended it. Workshop Was for SY students only.
                                                            </p>
                                                        </div>
                                                    </div> <!-- single product items -->
                                                </div>

                                                <div class="col-md-4">
                                                        <div class="single-product-items">
                                                            <div class="product-item-image">
                                                                <a href="#"><img src="/images/events/e-2.jpg" alt="Product"></a>
                                                            </div>
                                                            <div class="product-item-content text-center mt-30">
                                                                <h5 class="product-title pb-10"><a href="#">Workshop on Python</a></h5>
                                                                <p style="text-align: justify;">
                                                                    Workshop Was held on Xyz date, 75 students attended it. Workshop Was for Ty students only.
                                                                </p>
                                                            </div>
                                                        </div> <!-- single product items -->
                                                    </div>

                                                    <div class="col-md-4">
                                                            <div class="single-product-items">
                                                                <div class="product-item-image">
                                                                    <a href="#"><img src="/images/events/e-1.jpg" alt="Product"></a>
                                                                </div>
                                                                <div class="product-item-content text-center mt-30">
                                                                    <h5 class="product-title pb-10"><a href="#">Cyclone 1.0</a></h5>
                                                                    <p style="text-align: justify;">
                                                                        cuclone Was held on Xyz date, 34 students attended it.
                                                                    </p>
                                                                </div>
                                                            </div> <!-- single product items -->
                                                        </div>

                                </div> <!-- row -->
                        
                            </div> <!-- product items -->
                    </div> <!-- tab pane -->
                </div> <!-- tab content --> 
            </div>
        </div> <!-- row -->
        <div class="newpaddingbtn" style="text-align: center; padding-top: 16px;">
                <a class="main-btn" href="/events" data-animation="fadeInUp" data-delay="1.5s">View All <i class="lni-chevron-right"></i></a>
        </div>
    </div> <!-- container -->
</section>