<!--====== SHOWCASE PART START ======-->
    
<section id="showcase" class="showcase-area pt-40 pb-0"> 
        <div class="container">
            <div class="row">
                    <div class="col-lg-6">
                            <div class="section-title pb-0">
                                <h5 class="mb-15" style="font-size: 2em !important;">Gallery</h5>
                                </div> <!-- section title -->
                        </div>
                        <div class="centerpara" style="padding: 0 15px;">
                                <p>In college, before video games, we would amuse ourselves by posing programming exercises. <br>-Ken Thompson</p>
                                <p>• Here are some pictures of Events and Workshops.</p>
                                <p>• (Slide to view all cards or click below.)</p>
                        </div>
         
            </div> <!-- row -->
            <div class="row cenimgshow">
                <div class="col-lg-12" style="max-width: 768px;">
                    <div class="showcase-active mt-25">
                        <div class="single-showcase">
                            <img src="/images/gallery/g-1.jpg" alt="">
                        </div> <!-- single showcase -->
                        <div class="single-showcase">
                            <img src="/images/gallery/g-2.jpg" alt="">
                        </div> <!-- single showcase -->
                        <div class="single-showcase">
                            <img src="/images/gallery/g-3.jpg" alt="">
                        </div> <!-- single showcase -->
                    </div> <!-- showcase active -->
                </div>
            </div> <!-- row -->
            <div class="newpaddingbtn" style="text-align: center; padding-top: 16px;">
                <a class="main-btn" href="/gallery" data-animation="fadeInUp" data-delay="1.5s">View All <i class="lni-chevron-right"></i></a>
        </div>
        </div> <!-- container -->
    </section>