<!doctype html>
<html lang="en">

<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>Codingclub</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    
    <!--====== Animate css ======-->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/stylesheets/slick.css">
    
    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/stylesheets/LineIcons.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="/stylesheets/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
  
  