    <section id="home" class="slider-area pt-100">
      <div class="container-fluid position-relative" style="padding-left: 0px !important; padding-right: 0px !important;">
        <img class="introimg" src="/images/slider/1.jpg" alt="Slider" height="300px">  
        <div class="slider-active">
              <div class="single-slider">
                  <div class="slider-bg">
                      <div class="row no-gutters align-items-center ">
                          <div class="col-lg-4 col-md-5">
                              <div class="slider-product-image d-none d-md-block">
                                  <img src="/images/slider/1.jpg" alt="Slider">
                              </div> <!-- slider product image -->
                          </div>
                          <div class="col-lg-8 col-md-7">
                              <div class="slider-product-content">
                                  <h1 class="slider-title mb-10" data-animation="fadeInUp" data-delay="0.3s">CODINGCLUB SVIT Welcomes you!</h1>
                                  <p class="mb-25" data-animation="fadeInUp" data-delay="0.9s" style="font-size: 1.2em; ">One of my most productive days was throwing away 1,000 lines of code. <br>-ken thompson</p>

                              </div> <!-- slider product content -->
                          </div>
                      </div> <!-- row -->
                  </div> <!-- container -->
              </div> <!-- single slider -->

              <div class="single-slider">
                      <div class="slider-bg">
                          <div class="row no-gutters align-items-center">
                              <div class="col-lg-4 col-md-5">
                                  <div class="slider-product-image d-none d-md-block">
                                      <img src="/images/slider/3.jpg" alt="Slider">
                                  </div> <!-- slider product image -->
                              </div>
                              <div class="col-lg-8 col-md-7">
                                  <div class="slider-product-content">
                                      <h1 class="slider-title mb-10" data-animation="fadeInUp" data-delay="0.3s">What we do?</h1>
                                      <p class="mb-25" data-animation="fadeInUp" data-delay="0.9s">After proper planning and preparations we arrange Coding tests, Quiz, Workshops, Meet ups with the IT professionals, etc.</p>
                                      <a class="main-btn" href="/events" data-animation="fadeInUp" data-delay="1.5s">Explore More <i class="lni-chevron-right"></i></a>
                                  </div> <!-- slider product content -->
                              </div>
                          </div> <!-- row -->
                      </div> <!-- container -->
              </div> <!-- single slider -->

              <div class="single-slider">
                      <div class="slider-bg">
                          <div class="row no-gutters align-items-center">
                              <div class="col-lg-4 col-md-5">
                                  <div class="slider-product-image d-none d-md-block">
                                      <img src="/images/slider/2.jpg" alt="Slider">
                                  </div> <!-- slider product image -->
                              </div>
                              <div class="col-lg-8 col-md-7">
                                  <div class="slider-product-content">
                                      <h1 class="slider-title mb-10" data-animation="fadeInUp" data-delay="0.3s">Wanna know more?</h1>
                                      <p class="mb-25" data-animation="fadeInUp" data-delay="0.9s">Your suggessions and queries are one click away.</p>
                                      <a class="main-btn" href="/contactus" data-animation="fadeInUp" data-delay="1.5s">Contact Us <i class="lni-chevron-right"></i></a>
                                  </div> <!-- slider product content -->
                              </div>
                          </div> <!-- row -->
                      </div> <!-- container -->
              </div> <!-- single slider -->
          </div> <!-- slider active -->
          <div class="slider-social">
              <div class="row justify-content-end">
                  <div class="col-lg-7 col-md-6">
                      <ul class="social text-right">
                          <li><a href="https://www.facebook.com/Codingclubsvit-2404136563192137/"><i class="lni-facebook-filled" style="color: #fe7865;"></i></a></li>
                          <li><a href="https://www.instagram.com/codingclubsvit/"><i class="lni-instagram" style="color: #fe7865;"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div> <!-- container fluid -->
      <div class="newpaddingbtn" style="text-align: center; padding-top: 10px;">
        <img src="/images/down.png" alt="" height="40px">
    </div>
  </section>