
    <section id="contact" class="contact-area pt-60 pb-20">
            <div class="container">
                <div class="row">
                        <div class="col-lg-6">
                                <div class="section-title pb-0">
                                    <h5 class="mb-15" style="font-size: 2em !important;">Our Team</h5>
                                    </div> <!-- section title -->
                            </div>
                </div> <!-- row -->
                <div style="text-align: center;">
                        <img src="/images/team.png" height="350px;">
                </div>
                <div class="newpaddingbtn" style="text-align: center; padding-top: 16px;">
                        <a class="main-btn" href="/team" data-animation="fadeInUp" data-delay="1.5s">View All Members <i class="lni-chevron-right"></i></a>
                </div>
            </div> <!-- container -->
        </section>
        