<%- include('../includes/head.ejs') %>
</head>
    <body>
        <header class="header-area">
            <%- include('../includes/navbar.ejs') %>
        </header>
        

        <section id="discount-product" class="discount-product pt-100 pb-30">
            <div class="container">

                    <div class="section-title pb-0">
                            <h5 class="mb-15" style="font-size: 2em !important;">2018</h5>
                            </div> <!-- section title -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-discount-product mt-30">
                            <div class="product-image">
                                <img src="/images/gallery/gal-1.jpg" alt="Product">
                            </div> <!-- product image -->
                        </div> <!-- single discount product -->
                    </div>
                    <div class="col-lg-6">
                        <div class="single-discount-product mt-30">
                            <div class="product-image">
                                <img src="/images/gallery/gal-2.jpg" alt="Product">
                            </div> <!-- product image -->
                        </div> <!-- single discount product -->
                    </div>

                    <div class="col-lg-6">
                        <div class="single-discount-product mt-30">
                            <div class="product-image">
                                <img src="/images/gallery/gal-3.jpg" alt="Product">
                            </div> <!-- product image -->
                        </div> <!-- single discount product -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>
        

<%- include('../includes/end.ejs') %>
