<%- include('../includes/head.ejs') %>
</head>
    <body>
        <header class="header-area">
            <%- include('../includes/navbar.ejs') %>
        </header>


    <section id="team" class="team-area pt-70 pb-130">
            <div class="container">
                <div class="row">
                        <div class="col-lg-6">
                                <div class="section-title pb-0">
                                    <h5 class="mb-15 mt-70" style="font-size: 2em !important;">Our Team</h5>
                                    </div> <!-- section title -->
                            </div>
                </div> <!-- row -->
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-8" >
                        <div class="single-temp text-center mt-30">
                            <div class="team-image">
                                <img src="/images/team/1.jpg"
                                 alt="Team">
                            </div>
                            <div class="team-content mt-30">
                                <h4 class="title mb-10"><a href="#">Shlok Gadre</a></h4>
                                <span>Head</span>
                                <ul class="social mt-15">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div> <!-- single temp -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8">
                        <div class="single-temp text-center mt-30">
                            <div class="team-image">
                                <img src="/images/team/2.jpg"
                                 alt="Team">
                            </div>
                            <div class="team-content mt-30">
                                <h4 class="title mb-10"><a href="#">Nikunj Prajapati</a></h4>
                                <span>Co-head</span>
                                <ul class="social mt-15">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div> <!-- single temp -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8">
                        <div class="single-temp text-center mt-30">
                            <div class="team-image">
                                <img src="/images/team/3.jpg"
                                 alt="Team">
                            </div>
                            <div class="team-content mt-30">
                                <h4 class="title mb-10"><a href="#">Yash Shah</a></h4>
                                <span>Technical Coordinator</span>
                                <ul class="social mt-15">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div> <!-- single temp -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8">
                        <div class="single-temp text-center mt-30">
                            <div class="team-image">
                                <img src="/images/team/4.jpg"
                                 alt="Team">
                            </div>
                            <div class="team-content mt-30">
                                <h4 class="title mb-10"><a href="#">Shailendra Raj</a></h4>
                                <span>Technical Coordinator</span>
                                <ul class="social mt-15">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div> <!-- single temp -->
                    </div>
                </div> <!-- row -->

                <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-6 col-sm-8">
                            <div class="single-temp text-center mt-30">
                                <div class="team-image">
                                    <img src="/images/team/5.jpg"
                                     alt="Team">
                                </div>
                                <div class="team-content mt-30">
                                    <h4 class="title mb-10"><a href="#">Bhargav Patel</a></h4>
                                    <span>Admin</span>
                                    <ul class="social mt-15">
                                        <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                        <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                        <li><a href="#"><i class="lni-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!-- single temp -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-8">
                            <div class="single-temp text-center mt-30">
                                <div class="team-image">
                                    <img src="/images/team/6.jpg"
                                     alt="Team">
                                </div>
                                <div class="team-content mt-30">
                                    <h4 class="title mb-10"><a href="#">Darshan Rajput</a></h4>
                                    <span>Admin</span>
                                    <ul class="social mt-15">
                                        <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                        <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                        <li><a href="#"><i class="lni-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!-- single temp -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-8">
                            <div class="single-temp text-center mt-30">
                                <div class="team-image">
                                    <img src="/images/team/7.jpg"
                                     alt="Team">
                                </div>
                                <div class="team-content mt-30">
                                    <h4 class="title mb-10"><a href="#">Roshil Kapatel</a></h4>
                                    <span>Admin</span>
                                    <ul class="social mt-15">
                                        <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                        <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                        <li><a href="#"><i class="lni-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!-- single temp -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-8">
                            <div class="single-temp text-center mt-30">
                                <div class="team-image">
                                    <img src="/images/team/8.jpg"
                                     alt="Team">
                                </div>
                                <div class="team-content mt-30">
                                    <h4 class="title mb-10"><a href="#">Kunj Viradiya</a></h4>
                                    <span>Admin</span>
                                    <ul class="social mt-15">
                                        <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                        <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                        <li><a href="#"><i class="lni-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!-- single temp -->
                        </div>
                    </div>

                    <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-6 col-sm-8">
                                <div class="single-temp text-center mt-30">
                                    <div class="team-image">
                                        <img src="/images/team/9.jpg"
                                         alt="Team">
                                    </div>
                                    <div class="team-content mt-30">
                                        <h4 class="title mb-10"><a href="#">Sanket Vavadiya</a></h4>
                                        <span>Technical Coordinator</span>
                                        <ul class="social mt-15">
                                            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                            <li><a href="#"><i class="lni-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div> <!-- single temp -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-8">
                                <div class="single-temp text-center mt-30">
                                    <div class="team-image">
                                        <img src="/images/team/10.jpg"
                                         alt="Team">
                                    </div>
                                    <div class="team-content mt-30">
                                        <h4 class="title mb-10"><a href="#">Chintan Kotecha</a></h4>
                                        <span>Technical Coordinator</span>
                                        <ul class="social mt-15">
                                            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                            <li><a href="#"><i class="lni-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div> <!-- single temp -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-8">
                                <div class="single-temp text-center mt-30">
                                    <div class="team-image">
                                        <img src="/images/team/11.jpg"
                                         alt="Team">
                                    </div>
                                    <div class="team-content mt-30">
                                        <h4 class="title mb-10"><a href="#">Mauli Shah</a></h4>
                                        <span>Technical Coordinator</span>
                                        <ul class="social mt-15">
                                            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                            <li><a href="#"><i class="lni-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div> <!-- single temp -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-8">
                                <div class="single-temp text-center mt-30">
                                    <div class="team-image">
                                        <img src="/images/team/12.jpg"
                                         alt="Team">
                                    </div>
                                    <div class="team-content mt-30">
                                        <h4 class="title mb-10"><a href="#">Punit Bhatt</a></h4>
                                        <span>Graphic Designer</span>
                                        <ul class="social mt-15">
                                            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                            <li><a href="#"><i class="lni-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div> <!-- single temp -->
                            </div>
                        </div>

                        <div class="row justify-content-center">
                                <div class="col-lg-3 col-md-6 col-sm-8">
                                    <div class="single-temp text-center mt-30">
                                        <div class="team-image">
                                            <img src="/images/team/13.jpg"
                                             alt="Team">
                                        </div>
                                        <div class="team-content mt-30">
                                            <h4 class="title mb-10"><a href="#">Chintan Prajapati</a></h4>
                                            <span>Web Developer</span>
                                            <ul class="social mt-15">
                                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                                <li><a href="#"><i class="lni-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div> <!-- single temp -->
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-8">
                                    <div class="single-temp text-center mt-30">
                                        <div class="team-image">
                                            <img src="/images/team/14.jpg"
                                             alt="Team">
                                        </div>
                                        <div class="team-content mt-30">
                                            <h4 class="title mb-10"><a href="#">Gaurang Vora</a></h4>
                                            <span>Graphic Designer</span>
                                            <ul class="social mt-15">
                                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                                <li><a href="#"><i class="lni-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div> <!-- single temp -->
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-8">
                                    <div class="single-temp text-center mt-30">
                                        <div class="team-image">
                                            <img src="/images/team/14.jpg"
                                             alt="Team">
                                        </div>
                                        <div class="team-content mt-30">
                                            <h4 class="title mb-10"><a href="#">Nikhil Khemchandani</a></h4>
                                            <span>Technical Coordinator</span>
                                            <ul class="social mt-15">
                                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                                <li><a href="#"><i class="lni-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div> <!-- single temp -->
                                </div>
                                
            </div> <!-- container -->
        </section>
        
        <!--====== TEAM PART ENDS ======-->

<%- include('../includes/end.ejs') %>
